@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans&family=Comfortaa:wght@300&family=Gugi&display=swap');


:root {
    --secondary_color: #8C1F33;
    --primary_color: #400711;
    --tertiary_color: #F24162;
    --quaternary_color: #F25781;
    --background_primary_color: #051726;
    --background_secondary_color: #111111;
    --font_color: #FFFFFF;

    --estilo_linhas: rgba(255, 255, 255, 0.30);
    --transparent_color: rgba(255, 255, 255, 0); 

    --select: #1278af;
    --deluxe: #02806c;
    --premium: #b04b79;
    --exclusive: #d2834f;
    --ultra: #d6bb57;

    --title_font: 'Gugi', cursive;
    --font: 'Comfortaa', cursive;

    --fundo_gradiente_largura: 328px;
    --background_gradient_height_: 163px;
}

header {
    background-color: var(--background_secondary_color);
    width: 100vw;
    height: 7vh;
    display: flex;
    align-items: center;
}

nav {
    width: 100%;
}

.navegacao {
    left: 13%;
    right: 13%;
    width: 74%;
    display: flex;
    justify-content: space-evenly;
    color: var(--font_color);
    font-family: var(--font);
    font-size: 2rem;
    position: relative;
}

main {
    background-color: var(--background_primary_color);
    width: 100vw;
    height: 88vh;
    position: relative;
}

.estilo_linha_vertical {
    width: 12.5%;
    height: 100%;
    border-right: 1px solid var(--estilo_linhas);
    position: absolute;
    z-index: 1;
}

.estilo_fundo_gradiente {
    background-color: white;
    background: linear-gradient(30deg, var(--primary_color) 25%, var(--background_primary_color) 25%);
    width: 20%;
    height: 40%;
    position: absolute;
}

#pesquisa {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 40%;
    position: relative;
    
}

.pagina_atual {
    --style_current_page_shadow: rgba(255, 255, 255, 0.116);
    position: absolute;
    top: 0px;
    letter-spacing: 1rem;
    color: var(--background_primary_color);
    font-size: 23rem;
    font-family: var(--title_font);
    text-shadow: -1px 0 var(--style_current_page_shadow), 0 1px var(--style_current_page_shadow), 1px 0 var(--style_current_page_shadow), 0 -1px var(--style_current_page_shadow);
    z-index: 1;
   
}

.estilo_borda_pesquisa{
    outline: 1px solid var(--font_color);
    outline-offset: 0.5rem;
    position: relative;
    z-index: 1;
}

.estilo_borda_pesquisa::before {
    content: "";
    background: var(--background_primary_color);
    display: block;
    position: absolute;
    right: 0;
    top: -0.6rem;
    width: 55%;
    height: 1rem;
    z-index: 0;
}

.estilo_borda_pesquisa::after {
    content: "";
    background: linear-gradient(var(--background_primary_color) 75%, var(--primary_color) 75%);
    display: block;
    position: absolute;
    right: -0.6rem;
    bottom: -0.6rem;
    width: calc(100% + 1.2rem);
    height: 55%;
    z-index: 0;
}

.pesquisa_campo {
    border: 0px;
    padding-right: 50px;
    width: 478px;
    height: 71px;
    background-color: var(--tertiary_color);
    color: var(--font_color);
    text-align: center;
    font-family: var(--font);
    font-size: 1.3rem;
    position: relative;
    z-index: 2;
}

.pesquisa_campo::placeholder {
    color: var(--font_color);
}

#filtro_icone {
    top: 15.5px;
    right: 10px;
    width: 40px;
    position: absolute;
    z-index: 3;
}

.estilo_linha_vertical_metade {
    right: 0;
    width: 12.5%;
    height: 100%;
    border-left: 1px solid var(--estilo_linhas);
    position: absolute;

}

#blocos_skins {
    height: 60%;
    background-color: var(--primary_color);
    position: relative;
}

.estilo_cima {
    top: -5px;
    left: 12.5%;
    width: 55%;
    z-index: 2;
    position: absolute;
    
}

.estilo_cima_diagonal {
    top: -140px;
    left: 0;
    width: 14.5%;
    transform: rotate(30deg);
    transform-origin: top left;
    z-index: 2;
    position: absolute;
}

.estilo_baixo {
    top: 0;
    left: 12.5%;
    border: 1px solid var(--estilo_linhas);
    width: -webkit-fill-available;
    z-index: 2;
    position: absolute;
}

.estilo_baixo_diagonal {
    top: -145px;
    left: 0;
    width: 14.5%;
    border: 1px solid var(--estilo_linhas);
    transform: rotate(30deg);
    transform-origin: top left;
    z-index: 2;
    position: absolute;
}

#armas_container {
    left: 13%;
    right: 13%;
    width: 74%;
    padding-top: 5px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    position: relative;
}

.card {
    width: var(--fundo_gradiente_largura);
    height: var(--background_gradient_height_);
    position: relative;
}

.fundo_icone {
    bottom: 0;
    width: 54%;
    opacity: 40%;
    position: absolute;
}

.fundo_gradiente {
    width: var(--fundo_gradiente_largura);
    height: var(--background_gradient_height_);
}

.gradiente_select {
    background: linear-gradient(var(--transparent_color), var(--select));
}

.gradiente_deluxe {
    background: linear-gradient(var(--transparent_color), var(--deluxe));
}

.gradiente_premium {
    background: linear-gradient(var(--transparent_color), var(--premium));
}

.gradiente_exclusive {
    background: linear-gradient(var(--transparent_color), var(--exclusive));
}

.gradiente_ultra {
    background: linear-gradient(var(--transparent_color), var(--ultra));
}

.arma {
    left: 0;
    position: absolute;
}

.classic {
    top: calc((var(--background_gradient_height_) - 93%) / 2);
    left: 15%;
    height: 93%;
}

.shorty {
    top: calc((var(--background_gradient_height_) - 66%) / 2);
    height: 66%;
}

.frenzy {
    top: calc((var(--background_gradient_height_) - 93%) / 2);
    left: 13%;
    height: 93%;
}

.ghost {
    top: calc((var(--background_gradient_height_) - 68%) / 2);
    height: 68%;
}

.sheriff {
    top: calc((var(--background_gradient_height_) - 95%) / 2);
    left: 2%;
    height: 95%;
}

.stinger {
    top: calc((var(--background_gradient_height_) - 75%) / 2);
    height: 75%;
}

.spectre {
    top: calc((var(--background_gradient_height_) - 71%) / 2);
    height: 71%;
}

.bucky {
    top: calc((var(--background_gradient_height_) - 37%) / 2);
    height: 37%;
}

.judge {
    top: calc((var(--background_gradient_height_) - 58%) / 2);
    height: 58%;
}

.bulldog {
    top: calc((var(--background_gradient_height_) - 58%) / 2);
    height: 58%;
}

.guardian {
    top: calc((var(--background_gradient_height_) - 41%) / 2);
    height: 41%;
}

.phantom {
    top: calc((var(--background_gradient_height_) - 48.5%) / 2);
    height: 48.5%;
}

.vandal{
    top: calc((var(--background_gradient_height_) - 62%) / 2);
    height: 62%;
}

.marshal  {
    top: calc((var(--background_gradient_height_) - 34.5%) / 2);
    height: 34.5%;
}

.operator {
    top: calc((var(--background_gradient_height_) - 41%) / 2);
    height: 41%;
}

.ares {
    top: calc((var(--background_gradient_height_) - 35%) / 2);
    height: 35%;
}

.odin {
    top: calc((var(--background_gradient_height_) - 53.5%) / 2);
    height: 53.5%;
}

.knife {
    top: calc((var(--background_gradient_height_) - 83%) / 2);
    height: 83%;
}

footer {
    background-color: var(--background_secondary_color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--font_color);
    font-family: var(--font);
    width: 100vw;
    height: 5vh;
    position: relative;
}

@media (max-width: 2560px ), (min-width: 1920px) {
    :root {
        --fundo_gradiente_largura: 436.2px;
        --background_gradient_height_: 218.1px;
    }

    .estilo_fundo_gradiente {
        background: linear-gradient(31deg, var(--primary_color) 25%, var(--background_primary_color) 25%);
    }

    .pagina_atual {
        font-size: 30rem;
    }

    .estilo_cima_diagonal {
        top: -190px;
        transform: rotate(31deg);
    }

    .estilo_baixo_diagonal {
        top: -195px;
        transform: rotate(31deg);
    }
}

@media (max-width:1600px) {
    :root {
        --fundo_gradiente_largura: 272.6px;
        --background_gradient_height_: 136.3px;
    }

    .estilo_fundo_gradiente {
        background: linear-gradient(34deg, var(--primary_color) 25%, var(--background_primary_color) 25%);
    }

    .pagina_atual {
        font-size: 19rem;
    }

    .pesquisa_campo {
        width: 398.6px;
        height: 59.2px;
    }

    .estilo_cima_diagonal {
        top: -135px;
        width: 15%;
        transform: rotate(34deg);
    }

    .estilo_baixo_diagonal {
        top: -140px;
        width: 15%;
        transform: rotate(34deg);
    }

    @media (max-width:720px), (max-height:1600px){
        :root {
            --fundo_gradiente_largura: 399.8px;
            --background_gradient_height_: 199.9px;
        }
        .navegacao {
            left: 0;
            justify-content: space-between;
            font-size: 0.8rem;
        }

        .pagina_atual {
            font-size: 5.5rem;
        }

        .estilo_linha_vertical {
            display: none;
        }

        .estilo_linha_vertical_metade {
            display: none;
        }

        .estilo_fundo_gradiente {
            display: none;
        }

        #pesquisa {
            height: 20%;
        }

        .pesquisa_campo {
            width: 359.4px;
            height: 58.3px;
        }
       
        #blocos_skins {
            height: 80%;
        }

        .estilo_cima {
            left: 0;
        }

        .estilo_cima_diagonal {
            display: none;
        }

        .estilo_baixo_diagonal {
            display: none;
        }
         
        #armas_container {
            display: flex;
            flex-direction: column;
            left: 1.3%;
        }

        .card_exclusive {
            display: none;
        }

        .card_ultra {
            display: none;
        }

        footer {
            font-size: 0.5rem;
        }
    }
}