<main>
  <div class="style_vertical_line_left" aria-hidden="true"></div>
  <div class="style_gradient_background" aria-hidden="true"></div>
  <section id="search">
    <div class="current_page_wrapper">
      <h1 [fittext]="true" class="current_page style_glitch">
        <span aria-hidden="true">Armas</span>
        Armas
        <span aria-hidden="true">Armas</span>
      </h1>
    </div>
    <div class="style_border_search_field" aria-hidden="true">
      <input
        type="search"
        class="search_field"
        [formControl]="searchField"
        placeholder="Procure a skin aqui"
      />
      <img
        src="https://valorskins.s3.sa-east-1.amazonaws.com/icons/filter.png"
        id="search_filter_icon"
      />
    </div>
    <div class="style_vertical_line_right" aria-hidden="true"></div>
  </section>

  <section id="skins">
    <hr class="style_up_line" />
    <hr class="style_up_line_diagonal" />
    <hr class="style_bottom_line" />
    <hr class="style_bottom_line_diagonal" />
    <div id="container_weapons">
      <app-card *ngFor="let weapon of weapons" [weapon]="weapon"></app-card>
    </div>
  </section>
</main>
