main {
  background-color: var(--background_primary_color);
  width: 100vw;
  height: 88vh;
  position: relative;
}

.style_vertical_line_left {
  width: 12.5%;
  height: 100%;
  border-right: 1px solid var(--estilo_linhas);
  position: absolute;
  z-index: 1;
}

.style_gradient_background {
  background-color: white;
  background: linear-gradient(
    30deg,
    var(--primary_color) 25%,
    var(--background_primary_color) 25%
  );
  width: 20%;
  height: 40%;
  position: absolute;
}

#search {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 40%;
  position: relative;
}

.current_page_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
  height: 100%;
  position: absolute;
}

.current_page {
  --style_current_page_shadow: rgba(255, 255, 255, 0.116);
  letter-spacing: 1rem;
  color: var(--background_primary_color);
  font-size: 19vw;
  font-family: var(--title_font);
  text-transform: uppercase;
  text-shadow: -1px 0 var(--style_current_page_shadow),
    0 1px var(--style_current_page_shadow),
    1px 0 var(--style_current_page_shadow),
    0 -1px var(--style_current_page_shadow);
  position: absolute;
  z-index: 1;
}

.style_glitch {
  --style_current_page_shadow: rgba(255, 255, 255, 0.116);
  letter-spacing: 1rem;
  color: var(--background_primary_color);
  font-size: 19vw;
  font-family: var(--title_font);
  text-transform: uppercase;
  text-shadow: -1px 0 var(--style_current_page_shadow),
    0 1px var(--style_current_page_shadow),
    1px 0 var(--style_current_page_shadow),
    0 -1px var(--style_current_page_shadow);
  position: absolute;
  z-index: 1;
  animation: glitch 30s infinite;
}

.style_glitch span {
  position: absolute;
  top: 0;
  left: 0;
}

.style_glitch span:first-child {
  animation: glitch_child 30s infinite;
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
  transform: translate(-0.1em, -0.0125em);
  opacity: 0.8;
}

.style_glitch span:last-child {
  animation: glitch_child 30s infinite;
  clip-path: polygon(0 80%, 100% 20%, 100% 100%, 0 100%);
  transform: translate(0.1em, 0.025em);
  opacity: 0.8;
}

@keyframes glitch {
  0% {
    text-shadow: var(--animation_position_01) 0 0
        rgba(255, 0, 0, var(--shadow_opacity)),
      var(--animation_position_02) var(--animation_position_04) 0
        rgba(0, 255, 0, var(--shadow_opacity)),
      var(--animation_position_04) var(--animation_position_01) 0
        rgba(0, 0, 255, var(--shadow_opacity));
  }
  0.42% {
    text-shadow: var(--animation_position_01) 0 0
        rgba(255, 0, 0, var(--shadow_opacity)),
      var(--animation_position_02) var(--animation_position_04) 0
        rgba(0, 255, 0, var(--shadow_opacity)),
      var(--animation_position_04) var(--animation_position_01) 0
        rgba(0, 0, 255, var(--shadow_opacity));
  }
  0.5% {
    text-shadow: var(--animation_position_02) var(--animation_position_04) 0
        rgba(255, 0, 0, var(--shadow_opacity)),
      var(--animation_position_03) var(--animation_position_03) 0
        rgba(0, 255, 0, var(--shadow_opacity)),
      var(--animation_position_02) var(--animation_position_02) 0
        rgba(0, 0, 255, var(--shadow_opacity));
  }
  0.8% {
    text-shadow: var(--animation_position_02) var(--animation_position_04) 0
        rgba(255, 0, 0, var(--shadow_opacity)),
      var(--animation_position_03) var(--animation_position_03) 0
        rgba(0, 255, 0, var(--shadow_opacity)),
      var(--animation_position_02) var(--animation_position_02) 0
        rgba(0, 0, 255, var(--shadow_opacity));
  }
  1.2% {
    text-shadow: var(--animation_position_03) var(--animation_position_01) 0
        rgba(255, 0, 0, var(--shadow_opacity)),
      var(--animation_position_01) 0 0 rgba(0, 255, 0, var(--shadow_opacity)),
      0 var(--animation_position_02) 0 rgba(0, 0, 255, var(--shadow_opacity));
  }
  1.3% {
    text-shadow: var(--animation_position_03) var(--animation_position_01) 0
        rgba(255, 0, 0, var(--shadow_opacity)),
      var(--animation_position_01) 0 0 rgba(0, 255, 0, var(--shadow_opacity)),
      0 var(--animation_position_02) 0 rgba(0, 0, 255, var(--shadow_opacity));
  }
  1.5% {
    text-shadow: -1px 0 var(--style_current_page_shadow),
      0 1px var(--style_current_page_shadow),
      1px 0 var(--style_current_page_shadow),
      0 -1px var(--style_current_page_shadow);
  }
  100% {
    text-shadow: -1px 0 var(--style_current_page_shadow),
      0 1px var(--style_current_page_shadow),
      1px 0 var(--style_current_page_shadow),
      0 -1px var(--style_current_page_shadow);
  }
}

@keyframes glitch_child {
  0% {
    text-shadow: var(--animation_position_01) 0 0
        rgba(255, 0, 0, var(--shadow_opacity)),
      var(--animation_position_02) var(--animation_position_04) 0
        rgba(0, 255, 0, var(--shadow_opacity)),
      var(--animation_position_04) var(--animation_position_01) 0
        rgba(0, 0, 255, var(--shadow_opacity));
  }
  0.42% {
    text-shadow: var(--animation_position_01) 0 0
        rgba(255, 0, 0, var(--shadow_opacity)),
      var(--animation_position_02) var(--animation_position_04) 0
        rgba(0, 255, 0, var(--shadow_opacity)),
      var(--animation_position_04) var(--animation_position_01) 0
        rgba(0, 0, 255, var(--shadow_opacity));
  }
  0.5% {
    text-shadow: var(--animation_position_02) var(--animation_position_04) 0
        rgba(255, 0, 0, var(--shadow_opacity)),
      var(--animation_position_03) var(--animation_position_03) 0
        rgba(0, 255, 0, var(--shadow_opacity)),
      var(--animation_position_02) var(--animation_position_02) 0
        rgba(0, 0, 255, var(--shadow_opacity));
  }
  0.8% {
    text-shadow: var(--animation_position_02) var(--animation_position_04) 0
        rgba(255, 0, 0, var(--shadow_opacity)),
      var(--animation_position_03) var(--animation_position_03) 0
        rgba(0, 255, 0, var(--shadow_opacity)),
      var(--animation_position_02) var(--animation_position_02) 0
        rgba(0, 0, 255, var(--shadow_opacity));
  }
  1.2% {
    text-shadow: var(--animation_position_03) var(--animation_position_01) 0
        rgba(255, 0, 0, var(--shadow_opacity)),
      var(--animation_position_01) 0 0 rgba(0, 255, 0, var(--shadow_opacity)),
      0 var(--animation_position_02) 0 rgba(0, 0, 255, var(--shadow_opacity));
  }
  1.3% {
    text-shadow: var(--animation_position_03) var(--animation_position_01) 0
        rgba(255, 0, 0, var(--shadow_opacity)),
      var(--animation_position_01) 0 0 rgba(0, 255, 0, var(--shadow_opacity)),
      0 var(--animation_position_02) 0 rgba(0, 0, 255, var(--shadow_opacity));
  }
  1.5% {
    text-shadow: none;
    display: none;
  }
  100% {
    text-shadow: none;
    display: none;
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}

.style_border_search_field {
  outline: 1px solid var(--font_color);
  outline-offset: 0.5rem;
  position: relative;
  z-index: 1;
}

.style_border_search_field::before {
  content: "";
  background: var(--background_primary_color);
  display: block;
  position: absolute;
  right: 0;
  top: -0.6rem;
  width: 55%;
  height: 1rem;
  z-index: 0;
}

.style_border_search_field::after {
  content: "";
  background: linear-gradient(
    var(--background_primary_color) 75%,
    var(--primary_color) 75%
  );
  display: block;
  position: absolute;
  right: -0.6rem;
  bottom: -0.6rem;
  width: calc(100% + 1.2rem);
  height: 55%;
  z-index: 0;
}

.search_field {
  border: 0px;
  padding-right: 50px;
  width: 478px;
  height: 71px;
  background-color: var(--tertiary_color);
  color: var(--font_color);
  text-align: center;
  font-family: var(--font);
  font-size: 1.3rem;
  position: relative;
  z-index: 2;
}

.search_field::placeholder {
  color: var(--font_color);
}

#search_filter_icon {
  top: 15.5px;
  right: 10px;
  width: 40px;
  position: absolute;
  z-index: 3;
}

.style_vertical_line_right {
  right: 0;
  width: 12.5%;
  height: 100%;
  border-left: 1px solid var(--estilo_linhas);
  position: absolute;
}

#skins {
  height: 60%;
  background-color: var(--primary_color);
  position: relative;
}

.style_up_line {
  top: -5px;
  left: 12.5%;
  width: 55%;
  z-index: 2;
  position: absolute;
}

.style_up_line_diagonal {
  top: -140px;
  left: 0;
  width: 14.5%;
  transform: rotate(30deg);
  transform-origin: top left;
  z-index: 2;
  position: absolute;
}

.style_bottom_line {
  top: 0;
  left: 12.5%;
  border: 1px solid var(--estilo_linhas);
  width: -webkit-fill-available;
  z-index: 2;
  position: absolute;
}

.style_bottom_line_diagonal {
  top: -145px;
  left: 0;
  width: 14.5%;
  border: 1px solid var(--estilo_linhas);
  transform: rotate(30deg);
  transform-origin: top left;
  z-index: 2;
  position: absolute;
}

#container_weapons {
  left: 13%;
  right: 13%;
  width: 74%;
  padding-top: 5px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  position: relative;
}

@media (max-width: 2560px) and (min-width: 2000px) {
  .style_gradient_background {
    background: linear-gradient(
      31deg,
      var(--primary_color) 25%,
      var(--background_primary_color) 25%
    );
  }

  // .search_current_page {
  //   font-size: 30rem;
  // }

  .style_up_line_diagonal {
    top: -190px;
    transform: rotate(31deg);
  }

  .style_bottom_line_diagonal {
    top: -195px;
    transform: rotate(31deg);
  }
}

@media (max-width: 1600px) {
  .style_gradient_background {
    background: linear-gradient(
      34deg,
      var(--primary_color) 25%,
      var(--background_primary_color) 25%
    );
  }

  .search_current_page {
    font-size: 19rem;
  }

  .search_field {
    width: 398.6px;
    height: 59.2px;
  }

  .style_up_line_diagonal {
    top: -135px;
    width: 15%;
    transform: rotate(34deg);
  }

  .style_bottom_line_diagonal {
    top: -140px;
    width: 15%;
    transform: rotate(34deg);
  }
}

@media (max-width: 720px) and (max-height: 1600px) {
  .current_page_wrapper {
    align-items: flex-start;
    width: 100%;
  }

  .search_current_page {
    font-size: 5.5rem;
  }

  .style_vertical_line_right {
    display: none;
  }

  .style_vertical_line_left {
    display: none;
  }

  .style_gradient_background {
    display: none;
  }

  #search {
    height: 20%;
  }

  .search_field {
    width: 359.4px;
    height: 58.3px;
  }

  #skins {
    height: 80%;
  }

  .style_up_line {
    left: 0;
  }

  .style_up_line_diagonal {
    display: none;
  }

  .style_bottom_line_diagonal {
    display: none;
  }

  #container_weapons {
    display: flex;
    flex-direction: column;
    left: 1.3%;
  }
}
