@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans&family=Comfortaa:wght@300&family=Gugi&display=swap');

:root {
  --cor_um: #8C1F33;
  --cor_dois: #400711;
  --cor_tres: #F24162;
  --cor_quatro: #F25781;
  --cor_fundo: #051726;
  --cor_fundo_secundaria: #111111;
  --cor_fonte: #FFFFFF;

  --estilo_linhas: rgba(255, 255, 255, 0.30);
  --transparente: rgba(255, 255, 255, 0);

  --select: #1278af;
  --deluxe: #02806c;
  --premium: #b04b79;
  --exclusive: #d2834f;
  --ultra: #d6bb57;

  --fonte_fundo: 'Gugi', cursive;
  --fonte_geral: 'Comfortaa', cursive;

  --fundo_gradiente_largura: 328px;
  --fundo_gradiente_altura: 163px;
}

html, body, header, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@media (max-width: 2560px ), (min-width: 1920px) {
  :root {
      --fundo_gradiente_largura: 436.2px;
      --fundo_gradiente_altura: 218.1px;
  }
}

@media (max-width:1600px) {
  :root {
      --fundo_gradiente_largura: 272.6px;
      --fundo_gradiente_altura: 136.3px;
  }
}

@media (max-width:720px), (max-height:1600px){
  :root {
      --fundo_gradiente_largura: 399.8px;
      --fundo_gradiente_altura: 199.9px;
  }
}

