<header>
  <!-- <img src="" class="assinatura"> -->
  <nav>
    <ul class="navigation">
      <li>
        <a [routerLink]="['/pages/armas']" class="navigation_link">ARMAS</a>
      </li>
      <li>
        <a class="navigation_link">CHAVEIROS</a>
      </li>
      <li>
        <a class="navigation_link">BANNERS</a>
      </li>
      <li>
        <a class="navigation_link">TITULOS</a>
      </li>
      <li>
        <a class="navigation_link">EMOTES</a>
      </li>
      <li>
        <a class="navigation_link">COLEÇÃO</a>
      </li>
    </ul>
  </nav>
</header>
