header {
  background-color: var(--background_secondary_color);
  width: 100vw;
  height: 7vh;
  display: flex;
  align-items: center;
}

nav {
  width: 100%;
}

.navigation {
  left: 13%;
  right: 13%;
  width: 74%;
  display: flex;
  justify-content: space-evenly;
  color: var(--font_color);
  font-family: var(--font);
  font-size: 2rem;
  position: relative;
}

.navigation_link:visited {
  color: var(--font_color);
  text-decoration: none;
}

.navigation_link:link {
  color: var(--font_color);
  text-decoration: none;
}

.navigation_link:hover {
  cursor: pointer;
}

@media (max-width: 720px) and (max-height: 1600px) {
  .navigation {
    left: 0;
    right: 0;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    font-size: 0.7rem;
  }
}
